.testimoni-title {
    margin: 2rem 0;
    text-align: center;
}
.card-all{
    display: flex;
}
.card-item{
    margin: 1rem 0 ;
    overflow-x: scroll;
    display: inline-flex;
}

.card{
    display: flex;
    margin : 1rem;
    border-radius: 5px;
    border :1px solid transparent;
    background: linear-gradient( #fff,#fff) padding-box, linear-gradient(45deg, #007fff80, #ffc59980) border-box;
    padding: 1rem;
    width: 25rem !important;
    
}

.user{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.user img{
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.identity{
    display: block;
    margin-left: 1rem;
}

.comment{
    word-wrap: break-word;
    text-align: center;
}

.comment strong{
    font-weight: 900;
}