.testimoni-title {
    margin: 2rem 6rem;
    text-align: center;
}
.card-all{
    display: flex;
}
.card-item{
    margin: 1rem 6rem 1rem 6rem;
    overflow-x: scroll;
    display: inline-flex;
}

.card{
    display: block;
    margin : 1rem;
    border-radius: 5px;
    border :2px solid;
    border-image-source: linear-gradient(45deg, rgba(0, 127, 255, 0.5), rgba(255, 197, 153, 0.5));
    border-image-slice: 1;
    padding: 1rem;
    width: 342px;
}

.user{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.user img{
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.identity{
    display: block;
    margin-left: 1rem;
}

.comment{
    word-wrap: break-word;
}