.support-body{
    background-color: #ECEFF1;
    height: 200px;
}
.support{
    display: block;
    
    padding-top:3rem;
}
.bank-body {
    display: flex;
    margin: auto;
    padding:0 6rem;
}
.expedisi-body {
    display: flex;
    margin: auto;
}

.bank{
    margin: auto;
}

.expedisi{
    margin: 2rem auto;
}