.videoItem{
    display: flex;
    margin: 4rem 0;
    background: linear-gradient(45deg, rgba(0, 127, 255, 0.5), rgba(255, 197, 153, 0.5));
}

.video-all{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.descrip{
    padding-right: 2rem ;
}

video{
    border-radius: 10px;
}