body {
  margin: 0;
  font-family: proxima, proxima-bold ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white !important;
}

strong , h1, h2, h3, h4, h5, h6 {
  font-family: proxima-bold !important;
}

@font-face{
  font-family: proxima ;
  src : url(./font/ProximaNova-Regular.otf) format("opentype");
}

@font-face{
  font-family: proxima-bold;
  src: url(./font/Proxima-Nova-Bold.otf) format("opentype");
}